.cards__url-heading {
  margin: 0;
  margin-bottom: 12px;
  color: #AAAAAA;
  font-style:  normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
}

@media screen and (max-width: 1023px) {
  .cards__url-heading{
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .cards__url-heading {
    max-width: 288px;
  }
}