.cards__paragraph-container {
  grid-row: 2;
  grid-column: 2;
}

@media screen and (max-width: 1023px) {
  .cards__paragraph-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cards__paragraph-container {
    padding-left: 16px;
    padding-right: 16px;
    grid-row: 4;
    grid-column: 1;
  }
}

@media screen and (max-width: 360px) {
  .cards__paragraph-container {
    max-width: 288px;
  }
}